@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

html{
	margin:0;
	padding:0;
	border: 0;
	font-size: 100%;
	font: inherit;
/*	vertical-align: baseline;*/
	font-family: 'Open Sans', sans-serif;
}

body {
	/*background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),url(https://images.unsplash.com/photo-1646860760743-92a9ffbd7093?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80) no-repeat;*/
	background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)),url(./photo-glace.avif) no-repeat;
	background-size: cover;
}

header #header{
	margin: auto;
}

header h1 {
	text-align: center;
	font-family: 'Fredoka', sans-serif;	
}

div#buttonsection {
	margin: auto;
	border: 3px solid #12B7A4;
	display: flex;
	max-width: fit-content;
	margin-bottom: 10px;
	border-radius: 10px;
}

div#directsection {
	margin: auto;
	border: 3px solid #B71226;
	display: flex;
	max-width: fit-content;
	margin-bottom: 10px;
	border-radius: 10px;
}

body section#main div#content form {
	padding: 1em;
	margin: auto;
	/*max-width: fit-content;*/
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	/*align-items: center;*/
	border-radius: 10px;
}

textarea {
	margin: 0 1em 0 1em;
	padding: 10px;
	/*max-width: 40%;*/
	max-height: 10em;
	resize: vertical;
	font-family: 'Open Sans', sans-serif;
}

.textareadirect {
	margin: 0 1em 0 1em;
	padding: 10px;
	/*max-width: 40%;*/
	max-height: 10em;
	resize: vertical;
	font-family: 'Open Sans', sans-serif;
}



body section#main div#content button {
	padding: 1em;
	margin: 0 0.2em 0 0.2em;
	font-family: 'Open Sans', sans-serif;
	}

/*ALERTS ETC*/
@keyframes smooth {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

div.alert{
	animation: smooth 1s ease;
	display: none;
	max-width: fit-content;
	padding: 2px 5px;
	margin: 5px auto 5px auto;
	border: 3px solid #B71226;
	background-color: rgba(183, 18, 38, 0.3);
	border-radius: 10px;  
}

div.warning{
	animation: smooth 1s ease;
	display: none;
	max-width: fit-content;
	padding: 2px 5px;
	margin: 5px auto 5px auto;
	border: 3px solid #B8441C;
	background-color: rgba(184, 68, 28, 0.3);
	border-radius: 10px;
}

span.warningemoji{

}